
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    color: rgb(129, 124, 124);
}
.cards > img {
    width: 200px;
    height: 300px;
    object-fit: cover; 
    
}
.cards {
    width: 200px;
    line-height: 1;
}
.mainImg:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.mainSection{
    position: relative;
}